
@media(max-width: 700px) {
    .section {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        overflow-y: scroll !important;
        height: 150vh;
        scroll-snap-align: none;
    }
    .section_content, .portfolio_sections_pane, .about_pane {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      width: 100vw !important;
      /* overflow-y: scroll; */
    }

    .latest {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        height: auto !important;
        width: 75vw !important;
        border-top: 0;
        border-bottom: 0;
    }

    .vl {
        position: relative;
        border-top: 1px solid dimgray;
        border-left: 0px !important;
        width: 30px;
        height: 10px;
        align-self: center;
    }

    #intro_content{
        position: relative;
        /* height: 50px; */
        background-color:turquoise;
        width: 80vw !important;
    }

    .about_element, .portfolio_section, .news_container, .blog_container {
        width: 80vw !important;
        /* height: auto !important; */
        scroll-snap-align: start;
        /* padding: 10px; */
    }

}


@media(max-height: 600px) {
    .section {
        /* display: flex !important;
        flex-direction: column !important;
        align-items: center !important; */
        overflow-y: scroll !important;
        height: 200vh;
    }

}